@media (width < 480px) {
    body main{
        display: grid;
        grid-template-columns: repeat(calc(100vh/3));
        grid-template-rows: repeat(calc(100vh/3)); 
        padding: 1rem;
        gap: 2rem;
        border: solid 2px red;
        box-sizing: border-box;
        grid-template-areas: 
            "A"
            "B"
            "C"
            "D"
            "E"
            "F"
            "G"
            "H"
            "I";
}
/* BUSCAR SOBRE MEDIA QUERIES Y RESPONSIVE CON GRID */