@import url('root.css');

footer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2vh;
    margin-top: 2rem;
    padding: 0;
}
footer img{
    width: 15px;
    padding: 5px;
    margin: 3px;
}
footer {
    color: #aa9c91;
}
footer > a{
    font-weight: normal;
    color: #cfcece;
    transition: all 1s;
}
footer a{
    margin: .3rem;
    text-decoration: none;
}

footer a:hover{
    transition: all .5s ease;
    color: white;
    transform: scale(1.03);
}
