@import url('root.css');

main{
    margin-top: 5rem;
}

main > section.container_txt{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    padding: 5rem;
}

main > section.container_txt > h1{
    text-transform: uppercase;
    text-align: start;
    margin: 8px;

    font-size: 3rem;
    background: linear-gradient(120deg, rgba(190,216,237,1) 0%, rgba(225,228,231,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > section.container_txt > h1:nth-child(1){
    color: var(--color6);
}
main > section.container_txt > h1:nth-child(2){
    color: var(--colorBG);
}

main > section.container_txt > p{
    text-align: center;
    text-justify:distribute-all-lines;
    font-size: 2rem;
    color:#140b0b;
}

footer{
    width: 90vw; 
    padding: 50px 0px;

}
.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto; 
    margin-top: 100px;
}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;

}
.box__footer .logo img{
    width: 50px;
}
 .box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color:black;
    font-weight: 700;
 }

 .box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
 }

 .box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
 }

 .box__footer a:hover{
    opacity: 0.8;
 }

 .box__footer a .fab{
    font-size: 20px;
 }
  .box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
  }

  .box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
  }

  .box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;

  }
