@import url('root.css');

main{
    margin-top: 5rem;
}

main > section.container_txt{
    width: 70vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
    margin: auto;
    padding: 5rem;
}

main > section.container_txt > h1{
    text-transform: uppercase;
    text-align: start;
    margin: 8px;

    font-size: 3.7rem;
    background: linear-gradient(120deg, rgba(190,216,237,1) 0%, rgba(225,228,231,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > section.container_txt > h1:nth-child(1){
    color: var(--color6);
}
main > section.container_txt > h1:nth-child(2){
    color: var(--colorBG);
}

main > section.container_txt > p{
    text-align: center;
    text-justify:distribute-all-lines;
    font-size: 2rem;
    color:#140b0b;
}