@import url('/assets/CSS/root.css');
header{
    height: calc(100vh/8);
}

main{
    border: solid 5px red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    gap: 2rem;
}

main > section.container_img{
    border: solid 3px blue;
}

main > section.container_img > img{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: 2rem;

    border: solid 3px rgb(255, 0, 153);
}

main > section.container_txt{
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 2rem;

    
    border: solid 3px rgb(4, 255, 0);
}