@import url('/assets/CSS/root.css');

main{
    margin-top: auto;
}

main > section.container_txt{
    width: 70vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    padding: 5rem;
}

main > section.container_txt > h1{
    text-align: center;
    font-size: 4rem;
}

main > section.container_txt > p{
    text-align: center;
    font-size: 1.7rem;
}